//- Стандартный шаблон страницы
include mixins.pug

doctype html
html(class='no-js', lang='en')

  head
    meta(name='viewport', content='width=device-width initial-scale=0.0 maximum-scale=1.0 user-scalable=yes')
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    //title Page title
    //meta(name='description', content='description')
    //meta(name='keywords', content='keywords')
    //
    //meta(property='og:title', content='og:title')
    //meta(property='og:description', content='og:description')
    //meta(property='og:type', content='website')
    //meta(property='og:site_name', content='og:site_name')
    //meta(property='og:url', content='og:url')
    //meta(property='og:image', content='img/logo.png')
    //meta(property='og:image:type', content='image/png')
    //meta(property='og:image:width', content='512')
    //meta(property='og:image:height', content='512')
    //
    //meta(name='theme-color' content='#0041C4')
    //link(rel='icon', type='image/png', sizes='16x16', href='img/favicon-16x16.png')
    //link(rel='icon', type='image/png', sizes='32x32', href='img/favicon-32x32.png')
    //link(rel='icon', type='image/png', sizes='192x192', href='img/favicon-192x192.png')
    //link(rel='icon', type='image/png', sizes='512x512', href='img/favicon-512x512.png')
    //link(rel='apple-touch-icon', type='image/png', sizes='180x180', href='img/apple-touch-icon.png')
    //link(rel='mask-icon', href='img/safari-pinned-tab.svg', color='none')
    //link(rel='shortcut icon', href='img/favicon.ico')

    block meta

    block head
      link(rel='stylesheet', href='css/style.min.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body.body
    noscript Please enable javascript in your browser.

    block header
      include ../blocks/header/header

    main.main
      block content

    block footer
      include ../blocks/footer/footer

    block page-bottom
    
    script.
      window.chat24_token = "4266aedc7ca396044025d36f0f2f43a3";
      window.chat24_url = "https://livechatv2.chat2desk.com";
      window.chat24_socket_url ="wss://livechatv2.chat2desk.com/widget_ws_new";
      window.chat24_show_new_wysiwyg = "true";
      window.chat24_static_files_domain = "https://storage.chat2desk.com/";
      window.lang = "ru";
      window.fetch("".concat(window.chat24_url, "/packs/manifest.json?nocache=").concat(new Date().getTime())).then(function (res) {
      return res.json();
      }).then(function (data) {
      var chat24 = document.createElement("script");
      chat24.type = "text/javascript";
      chat24.async = true;
      chat24.src = "".concat(window.chat24_url).concat(data["application.js"]);
      document.body.appendChild(chat24);
      });

    script(src='js/script.min.js')
