extends ../pug/layout

block meta
  title CityTok
  meta(name='description', content='CityTok is a secure cloud-based messaging app that automatically translates chats into your language.')

block content
  include ../blocks/index/first/first