footer.footer
  .footer__container.container
    .footer__inner
      .footer__col
        span.footer__title Title
        ul.footer__list
          li.footer__item
            a.footer__link(href='#' title='') Text
          li.footer__item
            a.footer__link(href='#' title='') Text

      .footer__col
        span.footer__title Title
        ul.footer__list
          li.footer__item
            a.footer__link(href='#' title='') Text
          li.footer__item
            a.footer__link(href='#' title='') Text

      .footer__col
        span.footer__title Title
        ul.footer__list
          li.footer__item
            a.footer__link(href='#' title='') Text
          li.footer__item
            a.footer__link(href='#' title='') Text

    span.footer__copyright 2020&nbsp;&#169;&nbsp;Company&nbsp;Name
