section.first-screen.section
  .first-screen__container.container
    .first-screen__content
      h1.first-screen__title Main title text main title text
      p.first-screen__text Main subtitle text main subtitle text main subtitle text Main subtitle text
      buttton.button.button--action.button--action-big Action

    picture.first-screen__img
      source(type='image/webp' srcset='img/first-bg.webp, img/first-bg_2x.webp 2x')
      source(type='image/jpg' srcset='img/first-bg.jpg, img/first-bg_2x.jpg 2x')
      img(src='img/first-bg.jpg', alt='')