section.section.first-screen
  .first-screen__container.container
    .first-screen__content
      h1.first-screen__title Speak freely with the&nbsp;whole&nbsp;world
      p.first-screen__text CityTok is a secure cloud-based messaging app that automatically translates chats into your language.
      button#modalOpenButton.button.first-screen__text.first-screen__text-modal Open modal
      buttton.button.button--action.button--action-big.first-screen__button Download

    picture.first-screen__img
      source(type='image/webp' srcset='img/first-bg.webp, img/first-bg_2x.webp 2x')
      source(type='image/jpg' srcset='img/first-bg.jpg, img/first-bg_2x.jpg 2x')
      img(src='img/first-bg.jpg', alt='')