html {
  font-family: $font-main;
  @include font();
  box-sizing: border-box;
  color: $text-color;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 150ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

button,
[role='button'],
input,
label,
select,
textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

li {
  font-weight: inherit;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
}

picture {
  display: flex;
  align-items: flex-start;
}

.body {
  width: 100%;
  min-width: $screen-xxs;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $bg-color-main;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.section {
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% - 64px);
  max-width: $content-width;
  margin: 0 auto;

  @include tablet {
    width: calc(100% - 192px);
  }

  @include mobile {
    width: calc(100% - 32px);
  }
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  position: relative;

  @include pseudoBefore() {
    z-index: 4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, .05);
  }
}

.title-section {
  margin-bottom: 36px;
  @include font(20px, 29px, 400, 8.15px);
  color: #C8C4C4;
  text-transform: uppercase;

  @include mobile {
    margin-bottom: 18px;
    font-size: 17px;
  }
}

.text-bold {
  font-weight: 700;
}

.text-medium {
  font-weight: 500;
}

.hide-small-mobile-screen {

  @include mobileSmall {
    display: none;
  }
}

.hide-smaller-mobile-screen {

  @include mobileSmaller {
    display: none;
  }
}