$black:               #000;
$white:               #fff;

$main_color:          #0041C4;
$main_color_light:    #0175FF;
$deep_blue_100:       #252849;
$deep_blue_90:        #3B3E5B;

$text-color:          $deep_blue_100;
$color-bg-main:       $white;
$link-color-hover:    $main_color_light;

$font-main:           Montserrat, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

$content-width:       1130px;

$screen-xxs:          320px;
$screen-xs:           374px;
$screen-s:            480px;
$screen-sm:           767px;
$screen-md:           1024px;
$screen-lg:           120px;
$screen-xl:           1440px;
$screen-xxl:          1600px;
$screen-xxxl:         1920px;
