header.header
  .header__container.container
    span.header__logo
      svg.header__logo-icon(fill='none', height='554', width='2046', viewBox='0 0 2046 554', xmlns='http://www.w3.org/2000/svg')
        g(fill='#252849')
          path(d='m888.992 168.414h61.932v213.586h-61.932zm30.966-29.775c-11.381 0-20.644-3.308-27.79-9.925s-10.719-14.821-10.719-24.614c0-9.7926 3.573-17.9973 10.719-24.614 7.146-6.6166 16.409-9.925 27.79-9.925s20.644 3.176 27.79 9.5281c7.146 6.352 10.719 14.292 10.719 23.8199 0 10.322-3.573 18.924-10.719 25.805-7.146 6.617-16.409 9.925-27.79 9.925z').header__logo-text-path
          path(d='m1919.19 283.941-43.67 40.494v57.565h-38.11v-294.5742h38.11v188.9722l114.73-104.808h46.06l-88.53 86.943 97.26 123.467h-46.85z').header__logo-text-path
          path(d='m1687.27 384.382c-20.9 0-39.7-4.632-56.37-13.895s-29.77-21.967-39.3-38.112c-9.27-16.409-13.9-34.936-13.9-55.58s4.63-39.038 13.9-55.183c9.53-16.409 22.63-29.113 39.3-38.112 16.67-9.263 35.47-13.895 56.37-13.895 20.91 0 39.57 4.632 55.98 13.895 16.68 8.999 29.64 21.703 38.91 38.112 9.53 16.145 14.29 34.539 14.29 55.183s-4.76 39.171-14.29 55.58c-9.27 16.145-22.23 28.849-38.91 38.112-16.41 9.263-35.07 13.895-55.98 13.895zm0-33.348c13.5 0 25.55-3.044 36.13-9.131 10.85-6.352 19.32-15.086 25.41-26.202 6.09-11.381 9.13-24.349 9.13-38.906s-3.04-27.393-9.13-38.509c-6.09-11.381-14.56-20.115-25.41-26.202-10.58-6.087-22.63-9.131-36.13-9.131-13.49 0-25.67 3.044-36.52 9.131-10.59 6.087-19.06 14.821-25.41 26.202-6.08 11.116-9.13 23.952-9.13 38.509s3.05 27.525 9.13 38.906c6.35 11.116 14.82 19.85 25.41 26.202 10.85 6.087 23.03 9.131 36.52 9.131z').header__logo-text-path
          path(d='m1486.35 138.639h-95.28v-34.539h229.87v34.539h-95.28v243.361h-39.31z').header__logo-text-path
          path(d='m1390.55 168.414-96.47 226.687c-9.8 24.614-21.97 41.95-36.53 52.007-14.29 10.057-31.62 15.086-52 15.086-11.12 0-22.1-1.72-32.96-5.161-10.85-3.441-19.71-8.205-26.59-14.292l22.62-44.067c4.77 4.235 10.19 7.543 16.28 9.925 6.35 2.382 12.57 3.573 18.66 3.573 8.47 0 15.35-2.117 20.64-6.352 5.3-3.97 10.06-10.719 14.3-20.247l.79-1.985-92.5-215.174h63.92l59.94 144.905 60.35-144.905z').header__logo-text-path
          path(d='m1143.41 371.678c-6.08 4.499-13.63 7.94-22.63 10.322-8.73 2.117-17.99 3.176-27.79 3.176-25.4 0-45.12-6.484-59.15-19.453-13.76-12.969-20.64-32.025-20.64-57.168v-87.737h-32.954v-47.64h32.954v-52.007h61.93v52.007h53.2v47.64h-53.2v86.943c0 8.999 2.25 16.012 6.75 21.041 4.76 4.764 11.38 7.146 19.85 7.146 9.79 0 18.13-2.647 25.01-7.94z').header__logo-text-path
          path(d='m744.945 386.764c-28.319 0-53.992-6.087-77.018-18.262-22.761-12.439-40.758-29.51-53.992-51.213-12.968-21.967-19.453-46.714-19.453-74.239s6.485-52.139 19.453-73.842c13.234-21.967 31.231-39.038 53.992-51.213 23.026-12.439 48.831-18.6591 77.415-18.6591 24.085 0 45.788 4.2351 65.108 12.7041 19.586 8.469 35.995 20.644 49.228 36.524l-41.288 38.112c-18.791-21.703-42.082-32.554-69.872-32.554-17.203 0-32.554 3.838-46.052 11.513-13.498 7.411-24.084 17.865-31.76 31.363-7.41 13.498-11.116 28.849-11.116 46.052s3.706 32.554 11.116 46.052c7.676 13.498 18.262 24.085 31.76 31.76 13.498 7.411 28.849 11.116 46.052 11.116 27.79 0 51.081-10.984 69.872-32.951l41.288 38.112c-13.233 16.145-29.642 28.452-49.228 36.921-19.585 8.469-41.42 12.704-65.505 12.704z').header__logo-text-path
          path(d='m261.505 20.7343c-22.288-12.83482-49.723-12.83481-72.01 0l-153.3515 88.3107c-22.3619 12.878-36.14356104 36.718-36.14356104 62.523v175.712c0 26.12 14.11726104 50.2 36.90946104 62.958l121.8696 68.214c4.143 2.319 5.772 7.457 3.721 11.74l-23.769 49.644c-2.08 4.344 2.581 8.828 6.841 6.583l126.092-66.46 139.658-70.384c24.33-12.262 39.678-37.183 39.678-64.429v-173.578c0-25.805-13.782-49.645-36.144-62.523z')
        path(d='m142.175 182.317c-12.151 0-22 9.85-22 22v40.768h188.719c12.15 0 22-9.85 22-22v-40.768z', fill='#fff')
        path(d='m193.083 375.959c0 3.188 2.584 5.772 5.772 5.772h37.12c12.15 0 22-9.85 22-22v-115.909h-4.692c-33.247 0-60.2 26.952-60.2 60.2z', fill='#fff')

    nav.header__nav
      ul.header__nav-list
        li.header__nav-item
          a.header__nav-link(href='#' title='') Link
        li.header__nav-item
          a.header__nav-link(href='#' title='') Link
        li.header__nav-item
          a.header__nav-link(href='#' title='') Link

    button.header__button.button.button--action Action

    button.header__menu-mobile-button.button